
@{
    var boveda = BL.ComunBL.GetBoveda();
    var c = BL.CajaBL.Listar(x => x.Estado && !x.IndAbierto);
    var cajasAsignadas = BL.CajadiarioBL.Listar(x => x.IndAbierto && !x.caja.IndBoveda, includeProperties: "caja,persona");
}
<main class="row">
    <div class="col s12 m12 l12">
        <div class="card-panel row">
            <form id="formValidate" class="validar" method="post" action=''>
                <table class="striped">
                    <thead>
                        <tr>
                            <th>Boveda</th>
                            <th>Fecha Inicio</th>
                            <th>Entradas</th>
                            <th>Salidas</th>
                            <th>Saldo Fin</th>
                            <th>Acción</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>@(boveda.IndAbierto ? "Abierto" : "Cerrado")</td>
                            <td>{{boveda.FechaInicio | moment}} </td>
                            <td>{{boveda.Entradas}}</td>
                            <td>{{boveda.Salidas}}</td>
                            <td>{{boveda.SaldoFinal}}</td>
                            <td>
                                <a class="btn teal tooltipped waves-effect waves-light" data-position="left" data-tooltip="Ver Movimientos"><i class="mdi-action-description"></i></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <pre>
    @*{{$data}}*@
</pre>

                <div class="row">

                    <div class="input-field col s12 m12 l12">
                        <button class="btn waves-effect waves-light red" type="submit">
                            <i class="mdi-image-wb-irradescent left"></i>CIERRE
                        </button>
                        <ul id="dropdown2" class="dropdown-content">
                            <li>
                                <a href="#!" class="-text">Saldo Caja</a>
                            </li>
                            <li>
                                <a href="#!" class="-text">Movimientos</a>
                            </li>
                        </ul>
                        <a class="btn dropdown-button waves-effect waves-light  blue" href="#!" data-activates="dropdown2">Reporte<i class="mdi-navigation-arrow-drop-down right"></i></a>

                        <ul id="dropdown1" class="dropdown-content">
                            <li onclick="Transferir(true)">
                                <a class="-text">Ingreso a boveda</a>
                            </li>
                            <li>
                                <a href="#!" class="-text">Tranferencia a Caja</a>
                            </li>
                            <li  onclick="Transferir(false)">
                                <a href="#!" class="-text">Tranferencia a Banco</a>
                            </li>
                        </ul>
                        <a class="btn dropdown-button waves-effect waves-light right blue" href="#!" data-activates="dropdown1">Movimientos<i class="mdi-navigation-arrow-drop-down right"></i></a>


                    </div>
                </div>
            </form>
        </div>
    </div>
</main>

<div class="row">
    <div class="col s12 m12 l12">
        <div class="card-panel">
            <div class="row">
                <form class="col s12">
                    <h4 class="header2">Gestión de Caja</h4>
                    <table class="striped">
                        <thead>
                            <tr>
                                <th>Caja</th>
                                <th>Estado</th>
                                <th>Cajero</th>
                                <th>Fecha Inicio</th>
                                <th>Saldo Inicio</th>
                                <th>Entradas</th>
                                <th>Salidas</th>
                                <th>Saldo Fin</th>
                                <th>Acción</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in cajasAsignadas)
                            {
                                <tr>
                                    <td>@item.caja.Denominacion</td>
                                    <td>@(item.IndAbierto ? "Abierto" : "Cerrado")</td>
                                    <td>
                                        @if (item.PersonaId.HasValue)
                                        {
                                            @item.persona.NombreCompleto
                                        }
                                        else
                                        {
                                            @item.caja.Denominacion
                                        }
                                    </td>
                                    <td>@item.FechaInicio </td>
                                    <td>
                                        @if (@item.SaldoInicial == 0)
                                        {
                                            <a onclick="CrearSaldoInicial(@item.CajaDiarioId);" href="#" class="btn white black-text">@item.SaldoInicial</a>
                                        }
                                        else
                                        {
                                            @item.SaldoInicial
                                        }
                                    </td>
                                    <td>@item.Entradas</td>
                                    <td>@item.Salidas</td>
                                    <td>@item.SaldoFinal</td>
                                    <td>
                                        <a class="btn teal tooltipped waves-effect waves-light" data-position="left" data-tooltip="Ver Movimientos"><i class="mdi-action-description"></i></a>
                                    </td>
                                </tr>
                            }
                            @foreach (var item in c)
                            {
                                <tr>
                                    <td>@item.Denominacion</td>
                                    <td>Cerrado</td>
                                    <td>
                                        <button onclick="Mostrar(@item.CajaId,'@item.Denominacion');return false;" class="btn waves-effect waves-light ">
                                            Asignar
                                            <i class="mdi-content-send right"></i>
                                        </button>
                                    </td>
                                    <td> </td>
                                    <td> </td>
                                    <td> </td>
                                    <td> </td>
                                    <td> </td>
                                    <td> </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </form>
            </div>
        </div>
    </div>
</div>

<div id="modal1" class="modal" aria-hidden=true>
    <form class="validar" action='@Url.Action("Guardar","Cajadiario")' method="post">
        <input id="CajaId" name="pCajaId" type="hidden" value="0" />
        <div class="modal-content" style="padding:0">
            <nav class="red">
                <div class="nav-wrapper">
                    <div class="left col s12 m5 l5">
                        <ul>
                            <li>
                                <a href="#!" class="email-menu"><i class="modal-action modal-close  mdi-navigation-close"></i></a>
                            </li>
                            <li><span id="tituloCaja"></span></li>
                        </ul>
                    </div>
                    <div class="col s12 m7 l7">
                        <ul class="right">
                            <li>
                                <button type="submit" data-ajax="true" class="btn btn-large btn-flat red white-text " style="vertical-align:baseline;height:auto;"><i class="modal-action mdi-content-save"></i></button>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
        <div class="model-email-content">
            <div class="row">
                <div class="col s12 m8 l12">
                    <div class="input-field col s12">
                        <select name="pPersonaId" id="drpUsuario"></select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12 m8 l6">
                    <p><label><span id="mensajeBoveda"></span></label></p>
                </div>
                <div id="mostrarSaldo" class="input-field col s12 m8 l6">
                    <i class="mdi-editor-attach-money prefix"></i>
                    <label for="txtSaldoInicial" class="" data-error="Ingrese monto correcto">Monto Inicial</label>

                    <input id="txtSaldoInicial" name="SaldoInicial" type="number" data-error=".errorTxt1" class="required number">
                    <div class="errorTxt1"></div>
                </div>
            </div>
        </div>
    </form>
</div>

<div class="fixed-action-btn" style="bottom: 50px; right: 19px;">
    <a onclick="nuevaCaja();" class="btn btn-floating btn-large red tooltipped" data-position="left" data-tooltip="Nueva Caja">
        <i class="mdi-content-add-box"></i>
    </a>
</div>


@section scripts{
    <script>
        $(function () {
            $('.modal-add').leanModal({
                ready: function () {
                    $("#txtSaldoInicial").focus();
                }
            });
        });

        function Mostrar(cajaId, CajaName) {
            $.get('@Url.Action("ContarUsuariosCajaAsignar", "Cajadiario")', function (r) {
                if (r > 0) {
                    fn.resetForm();
                    $.get('@Url.Action("ObtenerSaldoBoveda", "Cajadiario")', function (d) {
                        $("#mensajeBoveda").text('En la bóveda hay un saldo de S/. ' + d);
                        $("#txtSaldoInicial").prop('max', d);
                    });
                    fn.CargarCombo("@Url.Action("ComboUsuariosCajaAsignar", "CajaDiario")", "drpUsuario");

                    $('#modal1').openModal();
                    $("#CajaId").val(cajaId);
                    $("#tituloCaja").text(CajaName);
                    $('#txtSaldoInicial').empty();
                }
                else {
                    fn.mensaje("NO EXISTE USUARIO DISPONIBLE PARA ASIGNAR");
                }
            });
        }

        function nuevaCaja() {
            fn.prompt("Nueva Caja", "text", "", function (valor) {
                $.post('@Url.Action("GuardarCaja", "Cajadiario")', { cajaId: 0, nombre: valor }, function (d) {
                    window.location.reload(true);
                });
            });
        }
        function CrearSaldoInicial(cdId) {
            fn.prompt("Registrar Saldo Inicial", "number", "", function (valor) {
                $.post('@Url.Action("CrearSaldoInicial", "Cajadiario")', { cajaDiarioId: cdId, saldoInicial: valor }, function (d) {
                    window.location.reload(true);
                });
            });
        }

        function Transferir(entrada) {
            t = entrada?"Ingreso a Boveda":"Transferencia a Banco"
            swal({
                title: t,
                html:
                  '<input type="number" id="swal-input1" class="swal2-input" placeholder="Monto">' +
                  '<textarea id="swal-input2" class="swal2-textarea" placeholder="Ingrese Motivo">',
                preConfirm: function () {
                    return new Promise(function (resolve, reject) {
                        var txt1 = $('#swal-input1');
                        var txt2 = $('#swal-input2');

                        if (txt1.val() == "" || parseInt(txt1.val()) <= 0) {
                            txt1.focus();
                            reject('Tu necesitas ingresar Monto mayor a 0');
                        } else if (txt2.val() == "") {
                            txt2.focus();
                            reject('Tu necesitas ingresar el motivo.');
                        } else {
                            resolve([
                                      txt1.val(),
                                      txt2.val()
                            ])
                        }
                    })
                },
                onOpen: function () {
                    $('#swal-input1').focus()
                }
            }).then(function (result) {
                vm.Transferir(result, entrada);
                //swal(JSON.stringify(result))
            }).catch(swal.noop)
        }

        var vm = new Vue({
            el: 'main',
            data: {
                boveda: {}
            },
            mounted: function () {
                var self = this;
                $.get('@Url.Action("ObtenerBoveda", "Cajadiario")', {}, function (d) {
                    self.boveda = d;
                });
            },
            filters: {
                moment: function (date) {
                    return moment(date).format('DD/MM/YYYY h:mm:ss a');
                }
            },
            methods: {
                Transferir: function (result, indEntrada) {
                    var self = this;
                    $.post('@Url.Action("TranferenciaBovedaBanco", "Cajadiario")', { monto: result[0], indEntrada: indEntrada }, function (d) {
                        self.boveda = d;
                        fn.mensaje("La tranferencia se realizo con éxito");
                    }); 
                }
            }

        });




    </script>
}      