@{
    string controlador = ViewContext.RouteData.Values["Controller"].ToString().ToLower();
    var usuario = BL.UsuarioBL.Obtener(Comun.SessionHelper.GetUser());

    bool login = usuario == null || controlador == "login" ? true : false;
}
<!DOCTYPE html>
<html lang="es-pe">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="description" content="Municipalidad distrital de Anco, La Mar">
    <meta name="keywords" content="Municipalidad, distrital, Anco, La Mar">
    <title>Muni Anco</title>

    <!-- Favicons-->
    <link rel="icon" href="~/images/favicon/favicon-32x32.png" sizes="32x32">
    <!-- Favicons-->
    <link rel="apple-touch-icon-precomposed" href="~/images/favicon/apple-touch-icon-152x152.png">
    <!-- For iPhone -->
    <meta name="msapplication-TileColor" content="#00bcd4">
    <meta name="msapplication-TileImage" content="~/images/favicon/mstile-144x144.png">
    <!-- For Windows Phone -->
    <!-- CORE CSS-->
    <link href="~/css/materialize.min.css" type="text/css" rel="stylesheet" media="screen,projection">
    <link href="~/css/style.min.css" type="text/css" rel="stylesheet" media="screen,projection">
    <link href="~/css/miEstilo.css" rel="stylesheet" />

    <!-- Custome CSS-->
    <link href="~/css/custom/custom-style.css" type="text/css" rel="stylesheet" media="screen,projection">
    @*<link href="~/js/plugins/sweetalert/dist/sweetalert.css" type="text/css" rel="stylesheet" media="screen,projection">*@
    <link href="~/js/plugins/sweetalert2/sweetalert2.min.css" type="text/css" rel="stylesheet" media="screen,projection">
    @*<link href="~/js/plugins/sweetalert/dist/facebook.css" rel="stylesheet" />*@


</head>

<body id="miapp" class='@if (login) {<text>cyan</text> }'>

    @if (login == false)
    {

        <header id="header" class="page-topbar">
            <div class="navbar-fixed">
                <nav class="navbar-color">
                    <div class="nav-wrapper">
                        <ul class="left">
                            <li><h1 class="logo-wrapper"><a href='@Url.Action("Index", "Home")' class="brand-logo darken-1"><img src="~/images/materialize-logo.png" alt="materialize logo"></a> <span class="logo-text">Materialize</span></h1></li>
                        </ul>
                        <div class="header-search-wrapper hide-on-med-and-down">
                            <i class="mdi-action-search"></i>
                            <input type="text" name="Search" class="header-search-input z-depth-2" placeholder="Buscar Ciudadano" />
                        </div>
                        <ul class="right hide-on-med-and-down">
                            <li>
                                <a href="javascript:void(0);" class="waves-effect waves-block waves-light toggle-fullscreen"><i class="mdi-action-settings-overscan"></i></a>
                            </li>
                            <li>
                                <a href="#" data-activates="chat-out" class="waves-effect waves-block waves-light chat-collapse"><i class="mdi-communication-chat"></i></a>
                            </li>
                        </ul>


                    </div>
                </nav>
            </div>

        </header>

        <div id="main">
            <div class="wrapper">
                <aside id="left-sidebar-nav">
                </aside>

                <section id="content">
                    @RenderBody()
                </section>

                <aside id="right-sidebar-nav" style="width:400px">
                    <ul id="chat-out" class="side-nav rightside-navigation right-aligned ps-container ps-active-y">
                        <li class="li-hover">
                            <a href="#" data-activates="chat-out" class="chat-close-collapse right"><i class="mdi-navigation-close"></i></a>
                            <div id="right-search" class="row">
                                <form class="col s12">
                                    <div class="input-field">
                                        <i class="mdi-action-search prefix"></i>
                                        <input id="icon_prefix" type="text" class="validate">
                                        <label for="icon_prefix">Buscar</label>
                                    </div>
                                </form>
                                <div class="collection">
                                    <a href="#!" class="collection-item">RICHARD ZAPATA CASAVERDE</a>
                                    <a href="#!" class="collection-item active">Alvin</a>
                                    <a href="#!" class="collection-item">Alvin</a>
                                    <a href="#!" class="collection-item">Alvin</a>
                                </div>


                            </div>
                        </li>
                    </ul>
                </aside>

            </div>
        </div>
        <footer class="page-footer">
            <div class="footer-copyright">
                <div class="container">
                    <span>Copyright © 2017 Todos los derechos reservados.</span>
                    <span class="right"> <a class="grey-text text-lighten-4" href="http://www.munidistritalanco.gob.pe">MUNICIPALIDAD DISTRITAL DE ANCO - LA MAR</a></span>
                </div>
            </div>
        </footer>
    }
    else
    {
        @RenderBody()
    }

    <!-- ================================================
    Scripts
    ================================================ -->
    <!-- jQuery Library -->
    @*<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>*@
    <script src="~/js/plugins/jquery-1.11.2.min.js"></script>
    <script src="~/js/jquery.form.min.js"></script>
    <script src="~/js/jquery.autocomplete.min.js"></script>
    <script>
        var baseUrl = "@Url.Content("~")";
        $('#left-sidebar-nav').html(localStorage.getItem("mnu"));
        var mnu = $("#" + localStorage.getItem("mnuclick"));
        mnu.addClass("active");
        mnu.data("ref");
        $("#" + mnu.data("ref")).addClass("active");
        $('li.mnu').click(function () { localStorage.setItem("mnuclick", $(this)[0].id) });
    </script>
    <!--materialize js-->
    <script src="~/js/materialize.min.js"></script>
    <script src="~/js/vue.min.js"></script>
    <script src="~/js/moment.min.js"></script>


    <script type="text/javascript" src="~/js/plugins/jquery-validation/jquery.validate.min.js"></script>
    <script type="text/javascript" src="~/js/plugins/jquery-validation/additional-methods.min.js"></script>
    <script type="text/javascript" src="~/js/jquery.validate.unobtrusive.min.js"></script>
    <!--sweetalert -->
    @*<script type="text/javascript" src="~/js/plugins/sweetalert/dist/sweetalert.min.js"></script>*@
    <script type="text/javascript" src="~/js/plugins/sweetalert2/sweetalert2.min.js"></script>


    <!--plugins.js - Some Specific JS codes for Plugin Settings-->
    <script type="text/javascript" src="~/js/plugins.min.js"></script>
    <script src="~/js/ini.js"></script>
    <script src="~/js/app.js"></script>

    @RenderSection("scripts", required: false)
</body>

</html>
